__pycache__

zapis:
Une agence de marketing a etuide la satisfaction des clients concernant le service clientele a loccasion de lachat dun televisuer. Ces achats ont ete realises soit sur internet, soit dans une chaine de magasins delectromenager, soit dans une enseigne de grandes surfaces.

Les achats sur internet representent 60& des ventes, les achats en magasin 30% des ventes et ceus en grandes surfaces 10% des ventes.

Une enquete montre que la proportion des clients satisfaits du service clientele est de:

75% pour les clients sur internet
90% pour les clients en magaisn
80% pour les clients en grande surface

On choisit au hasard un client ayant achete le modele de televiseur concerne.

On definit les evenements suivants:
I - le client a effectue son achat sur internet
M - magasin
G - grande surface
S le client sest satisfait du service clientele

Si A est un evenement quelconque on notera A-dash son evenement contraire et P(A) sa probabilite.

1. Reproduire et completer l'arbre ci-contre 